# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Idea Folder
.idea/
.run/*.xml

# OS
.DS_Store
bin/
vendor
mongodata
elasticsearchdata
local.env
.vscode/
/build/smg
/build/tokens
/build/kernel